{% extends "base.html" %}

{% load i18n %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div style="text-align: center;margin-top: 150px;">
    <h1>{% trans "Reseteo de Contraseña" %}</h1>
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos un correo electrónico que le permitirá restablecerla." %}</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Cambiar contraseña' %}" />
    </form>
    
    <p>{% blocktrans %}Comuníquese con nosotros si tiene algún problema para restablecer su contraseña..{% endblocktrans %}</p>
</div>

    {% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}