<style>
    #color_mensaje{
        text-align: center;
        color: white;
    }

    #color_mensaje1{
        color: black;
    }

</style>

{% extends "base.html" %}
{% load static %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reseteo de contraseña" %}{% endblock %}

{% block content %}
{% if user.is_superuser%}
<div style="text-align: center;">
    <h1 id="color_mensaje">{% trans "Reseteo de contraseña" %}</h1>
    <p id="color_mensaje">{% blocktrans %}Le hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos..{% endblocktrans %}</p>
    
</div>
{% elif user.is_authenticated %}
<div style="text-align: center;margin-top: 150px;">
    <h1 id="color_mensaje1">{% trans "Reseteo de contraseña" %}</h1>
    <p id="color_mensaje1">{% blocktrans %}Le hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos..{% endblocktrans %}</p>
    
</div>


{% endif %}

{% endblock %}